/* var */

:root {
  --main-h-light: #5eebb8;
  --back-light: #333;
  --back-dark: #111;
  --text: #FFF;
}

/* elements */

html {
  font-family: 'Ubuntu';
  background-color: var(--back-dark);
  background-image: url(texbg.png);
  color: var(--text);
}

a.b {
  text-decoration: none;
  color: var(--text);
  /* padding: 15px 10px; */
  /* display: block; */
  width: 100%;
  background-color: var(--back-light);
}

.box {
  background-color: var(--back-light);
  padding: 20px;
  width: min-content;
  height: 200px;
  margin: 5px;
  overflow: hidden;
}

ul.links {
  display: table-cell;
  height: 50px;
}

.label {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  display: block;
}

#box-cont {
  display: flex;
  flex-wrap: wrap;
}